# Backend Configuration
MODEL_PATH=/app/../models/celiac_risk_model.pkl
METADATA_PATH=/app/../models/model_metadata.pkl

# Frontend Configuration
API_URL=http://backend:8000

# Training Configuration
MODEL_OUTPUT_DIR=/app/../models
